.phone-images {
  background-color: white;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  float: left;
}



img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 100px;
  width: 100px;
  display: none;
}

img.phone:first-child {
  display: block;
  }