<?xml version='1.0' encoding='utf-8'?>

  
   <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >
  
  
  <name>BlankCordovaApp1Wemy</name>
  <description>A blank project that uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Apache Cordova Team </author>
  <author href="https://build.phonegap.com" email="support@phonegap.com">Phonegap</author>
  
  <content src="index.html" />
  <access origin="*" />
  <gap:features />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
</widget>
